.crawl {
  padding-bottom: 12rem;

  h2 {
    margin-bottom: 1rem;
  }

  section {
    margin-bottom: 2rem;
  }

  &__image {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: $black;
    margin-bottom: 2rem;

    img {
      width: 100%;
    }
  }

  &__main-info {
    display: flex;
    flex-direction: column;
  }

  &__price {
    font-size: 2.6rem;
  }

  &__location {
    margin-bottom: 2rem;

    &__image {
      width: 100%;

      img {
        width: 100%;
      }
    }

    &__location {
      color: $dark-grey;
    }
  }

  &__location > * {
    margin-bottom: 1rem;
  }

  &__guide {
    display: flex;
    flex-direction: column;

    &__image {
      width: 5rem;
      height: 5rem;

      img {
        display: inline-block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &__reviews {
    margin-bottom: 4rem;
  }
}
