<nav class="navigation">
  <a class="navigation__logo" href="/">Culture Crawl</a>
  <ul>
    <% if user_signed_in? %>
      <li>
        <%= link_to 'Profile', profile_path(current_user.id) %>
      </li>
      <li>
        <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
      </li>
    <% else %>
      <li>
        <%= link_to 'Log In', new_user_session_path %>
      </li>
      <li>
        <%= link_to 'Sign Up', new_user_registration_path %>
      </li>
    <% end %>
  </ul>
</nav>