<div class="book">
  <span>
    <%= number_to_currency(crawl.price / 100) %> pp
  </span>
  <% if booked %>
    <%= link_to 'Cancel Booking', cancel_path %>
  <% else %>
    <% if crawl.attendees.length == crawl.max_attendees %>
      <span>No spots available :(</span>
    <% elsif crawl.user.id == current_user.id %>
      <%= link_to 'Edit', edit_crawl_path(crawl) %>
    <% else %>
      <%= link_to 'Book', confirm_path %>
    <% end %>
  <% end %>
</div>