<div class="book">
  <span>
    <%= number_to_currency(crawl.price / 100) %> pp
  </span>
  <% if booked %>
    <%= link_to 'Cancel Booking', cancel_path %>
  <% else %>
    <%= link_to 'Book', confirm_path %>
  <% end %>
</div>