<div class="book">
  <span>
    <%= number_to_currency(crawl.price / 100) %> pp
  </span>
  <% if booked %>
    <%= link_to 'Cancel Booking', attendee_path(crawl: crawl, user: current_user.id), method: :delete %>
  <% else %>
    <%= link_to 'Book', confirm_path %>
  <% end %>
</div>