<main class="crawls-page">
  <div class="container">
    <h1>Crawls</h1>
    <%= render 'pages/crawls', crawls: @crawls %>
    <div class="paginate-links">
      <%= paginate @crawls %>
    </div>
  </div>
</main>
