*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: $font-secondary;
  line-height: 1.6;
}

input {
  width: 100%;
  border: 1px solid $red-accent;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.8rem;
  outline: none;
}

textarea {
  width: 100%;
  border: 1px solid $red-accent;
  border-radius: 2px;
  padding: 1rem;
  font-size: 1.8rem;
  outline: none;
  font-family: $font-primary;
}
