<div class="container">
  <h1>Confirm Booking</h1>
</div>

<div class="confirm">
  <%= render 'booking', crawl: @crawl %>
</div>

<div class="container">
  <button class="book-button" data-stripe="payment">Book</button>
</div>

<script src="https://js.stripe.com/v3/"></script>

<script>
  document.querySelector("[data-stripe='payment']").addEventListener("click", () => {
    const stripe = Stripe("<%= @public_key %>");
    stripe.redirectToCheckout({
      sessionId: "<%= @session_id %>"
    });
  });
</script>
  