<main class="home">
  <div class="hero">
    <h1>Culture Crawl</h1>
  </div>
  
  <div class="container">
    <section class="about">
      <p>
        Culture Crawl connects people who are passionate about discovering different cultures with people who are passionate about sharing their knowledge on these cultures.
      </p>
    </section>


    <h2>Latest Crawls</h2>
    <section class="home__latest-crawls">
      <div class="crawls-container">
        <%= render 'crawls', crawls: @latest_crawls %>
      </div>
      <div class="see-more">
        <%= link_to 'See More', crawls_path %>
      </div>
    </section>
  </div>
</main>