.navbar {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  position: sticky;
  background-color: $white;
  top: 0;
  left: 0;

  ul {
    display: flex;
  }

  ul > *:not(:last-child) {
    margin-right: 1rem;
  }
}
