<div class="crawl__image">
  <%= image_tag @crawl.crawl_image if @crawl.crawl_image.attached? %>
</div>
<div class="container">
  <div class="crawl">
    <%= render 'crawl', crawl: @crawl, type: "edit" %>
    <%= render 'form', review: @review, crawl: @crawl, type: "edit" %>
  </div>
</div>